# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore Firebase service account key
firebase-key.json

# Ignore Vercel build files
.vercel/

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
logs/
*.log